<p id="notice"><%= notice %></p>

<p>
  	<strong>Title:</strong>
	<%= @league.title %>
	<strong>League ID</strong>
  	<%= @league.leagueID %>
</p>
	<div class="row">
		<% @league.teams.each do |team| %>
			<div class="col-md-4"> 	
			<p><strong><%= link_to team.title, league_team_path(@league, team) %></strong><%= team.id %></p>
			<% team.players.each do |player| %>
				<p><%= player.title %> - <%= player.mlb_team %></p>
			<% end %>
			</div>
		<% end %>
	</div>
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
